<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aluz.testeloop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TesteLoop">
        <activity
            android:name=".recyclerview.RecyclerRanking"
            android:exported="false" />
        <activity
            android:name=".testNivel.UpLevelCActivity"
            android:exported="false" />
        <activity
            android:name=".questions.CQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".testNivel.QuestionTestActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".testNivel.PerformanceActivity"
            android:exported="false" />
        <activity
            android:name=".testNivel.CompleteLevelActivity"
            android:exported="false" />
        <activity
            android:name=".testNivel.UpLevelBActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmLogoutActivity"
            android:exported="false" />
        <activity
            android:name=".testNivel.LevelReportAActivity"
            android:exported="false" />
        <activity
            android:name=".questions.AQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".questions.BQuestionActivity"
            android:exported="false" /> <!-- <activity android:name=".questions.CQuestionActivity" -->
        <!-- android:exported="false"/> -->
        <activity
            android:name=".testNivel.GuideActivity"
            android:exported="false" />
        <activity
            android:name=".testNivel.LevelReportBActivity"
            android:exported="false" />
        <activity
            android:name=".testNivel.LevelReportCActivity"
            android:exported="false" />
        <activity
            android:name=".password.ValidActivity"
            android:exported="false" />
        <activity
            android:name=".testNivel.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".password.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AccountActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>